# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# IDE
.DS_Store
.vscode

# Node artifact files
node_modules/
/frontend/node_modules/

# Configuration files
.env
/frontend/.env